main>div {
    background-color: #fff;
    box-shadow: 0px 0px 15px #0004;
    max-height: 85vh;
    overflow: hidden;
}
input[type="number"]{
    width: 120px;
}
span{
    margin:0px 6px;
}
@media (max-width: 499px) {
    main>div {
        display: flex;
        flex-direction: column;
        width: 100vw;
        white-space: nowrap;
        overflow-x: hidden;
        max-height: 65vh;
    }
}

@media (min-width: 500px) and (max-width:786px) {
    main>div {
        display: flex;
        flex-direction: column;
        width: 100vw;
        white-space: nowrap;
        overflow-x: auto;
        max-height: 60vh;
    }

    main>div>h1 {
        font-size: 30px;
    }

    main>div>hr {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

@media (min-width: 787px) and (max-width:995px) {
    main>div {
        width:80vw;
    }
}