main>div {
    background-color: #fff;
    box-shadow: 0px 0px 15px #0004;
    max-height:470px;
}

@media (max-width: 485px) {
    main>div {
        display: flex;
        flex-direction: column;
        width: 100vw;
        overflow-x: auto;
        white-space: nowrap;
        overflow-x: auto;
    }
}
;