footer{
    display:flex;
}
#ModalConfirm button,#openModalButton{
    display:flex;
    align-items:center;
}
button, #openModalButton{
    margin-left: 8px;
    background-color:var(--bg-dark);
    color:white;
    border-radius: .25rem;
    border:none;
}
#ModalConfirm input{
    border:1px solid #ccc;
    border-radius:4px;
}

#celButton{
    text-align:center;
    width:120px;
}