#divTable{
    overflow-y: auto;
    max-height: 60vh;
}
#tableHome *{
    padding:2px;
}
#tableHome thead{
    background-color: var(--bg-dark) ;
    color:white;
}
#tableHome thead > tr > th{
    position: sticky;
    top: 0;
}
#tableHome tfoot > tr > td{
    position: sticky;
    bottom: 0px;
    background-color: var(--bg-dark) ;
    color:white;
}