select,button{
    height: 30px;
}

form{
    overflow-x: auto;
}
#divTable{
    overflow-y: auto;
    max-height: 60vh;
}


@media (max-width: 1500px ){
    #divTable{
        max-height: 40vh;
    }
}

@media(max-width: 575px){
    *{
        padding:0px;
    }
    h1{
        font-size:20px;
        font-weight: bold;
    }
    form > span,form > select{
        margin: 2px 0px;
    }
    form > span > label{
        display:none;
    }
    hr{
        margin:8px 0px;
    }
}